@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Playfair Display SC", Georgia, "Times New Roman", serif;
}

.swal2-title,
.swal2-html-container {
  font-family: "Playfair Display SC", Georgia, "Times New Roman", serif;
}

@layer utilities {
  .bg-gradient-mainNavbar {
    background: linear-gradient(to right, rgb(252, 252, 252) 3%, #a31e32 15%);
  }
}
