/* Estilos para la tabla principal */
.bg-light, .a {
  color: #000000 !important;
  text-decoration: none;
}

.th {
  text-decoration: underline;
  color: #CD1719 !important;
}

.input {
  position: relative;

}


