/* Estilos para la tabla principal */
.bg-light {
    color: #000000 !important;
    text-decoration: none;
    text-align: center !important;
  }
  
  .user-container {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .th {
    text-decoration: none;
    text-align: center;
    color: #a31e32 !important;
  }
  
  .id-th {
    width: 10px;
    padding: 5px; 
  }
  
  .s-th {
    width: 50px;
    padding: 5px; 
  }
  
  .f-th {
    width: 50px;
    padding: 5px; 
  }

  .a-th {
    width: 10px;
    padding: 5px; 
  }
  
  .input {
    position: relative;
    
  }

  .input-white-text {
    background-color: #a31e32; /* Fondo rojo */
    color: white; /* Color del texto en el input */
  }
  
  .input-white-text::placeholder {
    color: white; /* Color del texto del placeholder */
    opacity: 1;   /* Asegura que la opacidad sea total */
  }
  
  .search-input {
    border: none; 
    border-bottom: 2px solid #a31e32; 
    background-color: transparent; 
    color: black; 
    outline: none;
    width: 100%;
  }
  
  .button-filter{
    display: flex;
    border: none;
    background-color: white;
  }
  
  .h1-user {
    text-align: center;
    margin-top: 40px;
    margin-bottom: -40px;
  }
  
  .form-control::placeholder {
    color: white; 
    opacity: 1;   
  }

  .img-search{
    position: absolute;
      width: 1.5rem; /* Tamaño relativo */
    height: 1.5rem;
    
  }